<html>
    <%- include('partials/head') %> 
    <body>
        <%- include('partials/navbar') %>
        <div class="container mt-4">
            <h1>Immagini scattate dal drone</h1>

            <% for(let msg of errorMsg) { %>
              <div class="alert alert-danger mt-3 mb-3" role="alert">
                  <%= msg %>
              </div>
            <% } %>

            <div class="row">
                <% for(let image of images.filter(img => img.state != 2)) { %>
                    <div class="card" style="width: 30%; margin-right: 1%; margin-left: 1%; margin-top: 20px">
                        <img src="https://ipfs.io/ipfs/<%=image.hashIpfs%>" class="card-img-top">
                        <div class="card-body">
                          <p class="card-text"><strong>Nome file:</strong> <%= image.fileName %></p>
                          <p class="card-text"><strong>Data di creazione:</strong> <%= convertDate(image.creationTime) %></p>
                          <p class="card-text"><strong>Data di caricamento:</strong> <%= convertDate(image.addTime) %></p>
                          <% if(image.state == 0) { %> 
                            <a style="width: 100%;" href="/images/<%=image.hashIpfs%>" class="btn btn-primary">Dettaglio Immagine</a>
                          <% } else if(image.state == 1) { %> 
                            <a style="width: 100%;" href="/images/<%=image.hashIpfs%>" class="btn btn-warning">Completa Inserimento</a>
                          <% } %> 
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>