<html>
    <%- include('partials/head') %> 
    <body>
        <%- include('partials/navbar') %>
        <div class="container mt-4">
            <h1>Dettaglio Immagine</h1>
            <div class="row mt-4">
                <div class="col-md-8">
                    <img class="img-fluid" src="https://ipfs.io/ipfs/<%=image.hashIpfs%>">
                </div>
                <div class="col-md-4">
                    <h2>Informazioni:</h2>
                    <ul class="list-group mt-4">
                        <li class="list-group-item text-break"><strong>Hash IPFS:</strong> <%= image.hashIpfs %></li>
                        <li class="list-group-item text-break"><strong>Nome del file:</strong> <%= image.fileName %></li>
                        <li class="list-group-item text-break"><strong>Data di creazione:</strong> <%= convertDate(image.creationTime) %></li>
                        <li class="list-group-item text-break"><strong>Data di caricamento:</strong> <%= convertDate(image.addTime) %></li>
                    </ul>
                </div>
            </div>
            <% if(image.state == 0) { %>
                <div class="form-container">
                    <form method="POST" action="/gdl/invoke">
                        <input type="hidden" name="hash" value="<%=image.hashIpfs%>" id="hash">
                        <button class="btn btn-lg btn-primary">Invoca il servizio di fotogrammetria</button>
                    </form>
                </div>
            <% } %>
            <% if(image.state == 1) { %>
                <div class="form-container">
                    <h1 class="mt-3">Misure ottenute:</h1>
                    <%= measures %> 
                    <h1 class="mt-3">Aggiunta al giornale dei lavori</h1>
                    <form method="POST" action="/gdl/add">
                        <input type="hidden" name="hash" value="<%=image.hashIpfs%>" id="hash">
                        <div class="form-group">
                            <label for="annotazioni">Annotazioni</label>
                            <textarea class="form-control" name="annotazioni" id="annotazioni" rows="3"></textarea>
                        </div>
                        <button class="btn btn-lg btn-primary">Invia al Giornale dei Lavori</button>
                    </form>
                </div>
            <% } %>
            <%- include('partials/metadata_root') %>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <%- include('partials/metadata_scripts') %>
    </body>
</html>