<html>
    <%- include('partials/head') %> 
    <body>
        <%- include('partials/navbar') %>
        <div class="container mt-4">
            <h1>Dettaglio Immagine</h1>
            <div class="row mt-4">
                <div class="col-md-8">
                    <img class="img-fluid" src="https://ipfs.io/ipfs/<%=item.hashImmagine%>">
                </div>
                <div class="col-md-4">
                    <h2>Informazioni:</h2>
                    <ul class="list-group mt-4">
                        <li class="list-group-item text-break"><strong>Id:</strong> <%= item.id %></li>
                        <li class="list-group-item text-break"><strong>Hash IPFS:</strong> <%= item.hashImmagine %></li>
                        <li class="list-group-item text-break"><strong>Data di aggiunta:</strong> <%= convertDate(item.timestamp) %></li>
                    </ul>
                    <div class="mt-3">
                        <a href="/images/<%=item.hashImmagine%>" class="col-sm-12 btn btn-lg btn-primary">Dettaglio immagine</a>
                    </div>
                </div>
            </div>
            <div class="form-container">
                <h1 class="mt-3">Informazioni sull'oggetto</h1>
                <h2>Misure:</h2>
                <p><%= item.misure %></p>
                <h2>Annotazioni:</h2>
                <p><%= item.annotazioni %></p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>